body{
	
	overflow: hidden;
}

h2 {
	font-size: 30px;
	color: white;
	font-family: "Lucida Sans Unicode";
	letter-spacing:5px;
	position: absolute;
	left: 50%;
	top: 0px;
}

h3  {
	font-style: normal;
	position: absolute;
	left: 10px;
	top: 700px;
}

#about {
	position: absolute;
	left: 4000px;
	top: 50px;
	width: 600px;
}

#sources {
	position: absolute;
	left: 6000px;
	top: 50px;
	width: 600px;
}

textAbout {
	position: absolute;
	left: 3200px;
	top: 50px;
	width: 600px;
}
textSources {
	position: absolute;
	left: 5200px;
	top: 50px;
	width: 600px;
}



/* Dropdown Button */
.dropbtn {
	border: none;
	cursor: pointer;
	height: 55px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
	left: 25px;
	background-color: #ee0000;
	padding: 10px;
	top: 2px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
	position: absolute;
	background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
