body{
	
	overflow: hidden;
	font-family: "Calibri";
	background-color: #f2f2f2;
}

h1 {
	color: #b38600;
	font-family: "Lucida Sans Unicode";
	text-decoration: underline;
}
h2 {
	font-size: 30px;
	color: white;
	font-family: "Lucida Sans Unicode";
	letter-spacing:5px;
	position: absolute;
	left: 50%;
	top: 0px;
}

h3  {
	font-style: normal;
	position: absolute;
	left: 10px;
	top: 700px;
}


#sources {
	position: absolute;
	left: 3000px;
	top: 50px;
	width: 600px;
}

#textAbout {
	position: absolute;
	left: 200px;
	top: 100px;
	width: 600px;
	background-color: white;
	padding-top: 25px;
	padding-left: 125px;
	padding-right: 125px;
	padding-bottom: 200px;
}

#textSources {
	position: absolute;
	left: 2600px;
	top: 50px;
	width: 600px;
	text-align: left;
}

 /* unvisited link */
a:link {
	color:  #b38600;
	text-decoration: none;
	border-bottom: 1px dotted #000;
}

/* visited link */
a:visited {
	color:  #b38600;
	text-decoration: none;
	border-bottom: 1px dotted #000;
}

/* mouse over link */
a:hover {
	color: #ee0000;
	text-decoration: none;
}

/* selected link */
a:active {
	color: #ee0000;
	text-decoration: none;
}


/* Dropdown Button */
.dropbtn {
	border: none;
	cursor: pointer;
	height: 55px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
	left: 25px;
	background-color: #ee0000;
	padding: 10px;
	top: 2px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
	position: absolute;
	background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
